<!DOCTYPE html>
<html lang="en">
<head>
    <title>系统登录</title>
    <%= require('components/layout/heade-link.html') %>
    <link href="/assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="login">
    <div id="app">
        <login></login>
    </div>

    <%= require('components/layout/footer-script.html') %>
</body>
</html>